#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 0 0.3rem var(--color-primary-text);
    background: var(--color-accent-strong);
    border-radius: 2rem;
    border: 0.2rem solid var(--color-border);
}

.card-simple {
    background: var(--color-background-light);
    min-width: 10rem;
    padding: 2rem;
    margin-block: 0.5rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--color-border);
}


@media screen and (width > 720px) {
    .two-column-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}
