* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: clamp(16px, 1vw, 24px);
    scroll-behavior: smooth;
    height: 100%;
}

:root {
    font-family: 'Figtree', Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-background-light);
    color: var(--color-primary-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 1rem;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

main {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex-shrink: 0;
}

h1 {
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}
li {
    list-style: none;
}
a {
    font-weight: 500;
    color: var(--color-primary-text);
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent !important;
}
a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

button {
    border-radius: 1rem;
    border: 0.2rem solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem;
}
button:active {
    -webkit-tap-highlight-color: transparent !important;
}
button:disabled {
    background-color: var(--color-background-medium);
    cursor: default;
}

input,
textarea {
    color: var(--color-primary-text);
    border: 0.2rem solid var(--color-accent-strong);
    outline: none;
    font-family:
        'Merriweather', system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: clamp(16px, 1vw, 24px);
}
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    border: 0.2rem solid var(--color-accent-medium);
}

img {
    max-inline-size: 100%;
    display: block;
}

h1 {
    padding: 2rem;
}

h2, h3, p, a {
    padding: 0.2rem;
}

@media screen and (width > 450px) {
    h1 {
        padding: 5rem;
    }
}

@media screen and (width > 720px) {
    button:hover {
        background-color: var(--color-background-medium);
        border-color: var(--color-border);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}