.chess-board {
    padding: 2rem;
}

.position-wrapper {
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.board.flipped {
    transform: rotate(180deg);
}
.board.flipped .square {
    transform: rotate(180deg);
}

.column-coordinates {
    display: flex;
    width: 100%;
}

.row-coordinates {
    position: absolute;
    left: -1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-coordinates>div,
.row-coordinates>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--color-border);
}
/* white squares */
.square:nth-of-type(16n + 16),
.square:nth-of-type(16n + 14),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 3),
.square:nth-of-type(16n + 1) {
    background-color: var(--color-secondary-text);
}
/* black squares */
.square:nth-of-type(16n + 15),
.square:nth-of-type(16n + 13),
.square:nth-of-type(16n + 11),
.square:nth-of-type(16n + 9),
.square:nth-of-type(16n + 8),
.square:nth-of-type(16n + 6),
.square:nth-of-type(16n + 4),
.square:nth-of-type(16n + 2) {
    background-color: var(--color-accent-strong);
}
.square .move-highlight {
    clip-path: circle(50%);
    background-color: var(--color-accent);

    width: 0.7rem;
    height: 0.7rem;
}
.square.selected {
    background-color: var(--color-selected);
}
.square .capture-highlight {
    background-color: var(--color-selected);
}
.square img {
    padding: 0.5rem;
}

@media screen and (width > 720px) {
    .square {
        width: 5rem;
    }
    .square .move-highlight {
        width: 1.2rem;
        height: 1.2rem;
    }
}