.chess-board {
    padding: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    background:
        repeating-linear-gradient(0deg,
            var(--color-accent-strong) 0 12.5%,
            var(--color-secondary-text) 0 25%),
        repeating-linear-gradient(90deg,
            var(--color-accent-strong) 0 12.5%,
            var(--color-secondary-text) 0 25%);
}

.column-coordinates {
    display: flex;
    width: 100%;
}

.row-coordinates {
    position: absolute;
    left: -1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-coordinates>div,
.row-coordinates>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img {
    padding: 0.3rem;
}

.white {
    background-color: var(--color-secondary-text);
}

.black {
    background-color: var(--color-accent-strong);
}

@media screen and (width > 720px) {
    .square {
        width: 5rem;
    }
}