.captures-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
.captured-pieces {
    display: flex;
    align-items: center;
}
.captured-pieces img {
    max-width: 1.5rem;
}

.profile-img {
    height: 3rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 20%;
}

.player-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-accent-strong);
    padding-inline: 0.2rem;
    margin-block: 1rem;
}
.player-area > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.player-panel {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
}
.player-panel > p {
    margin-left: 0.2rem;
}
