.play {
    text-align: center;
}

.play .player-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-block: 0.5rem;
    min-height: 3rem;
}
.play .captured-pieces {
    display: flex;
    align-items: center;
}
.play .captured-pieces img {
    max-width: 1rem;
    margin: 0;
}

.play > div {
    padding: 1rem;
}

@media screen and (width > 720px) {
    .play .captured-pieces img {
        max-width: 1.5rem;
    }
}
