.dashboard {
    width: 100%;
}

.previous-move > img {
    margin: 0 auto;
    transform: rotate(270deg);
}
.next-move > img {
    margin: 0 auto;
    transform: rotate(90deg);
}

.options {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.options > button {
    flex: 1;
    margin-inline: 0;
    background-color: var(--color-background);
}

.move-history {
    width: 100%;
    height: auto;
}

@media screen and (width > 1080px) {
    .move-history {
        height: 20rem;
    }
}
